<form [formGroup]="userForm">
  <h1 mat-dialog-title>Find your account</h1>
  <div mat-dialog-content>
    <p class="mb-4">Please enter your email to search for your account.</p>
    <mat-form-field class="w-100">
      <mat-label>Email</mat-label>
      <input matInput #userInput formControlName="email">
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-end buttons">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial (click)="onSubmit()">Search</button>
  </div>
</form>

