<div class="modal-container">
  <p>Property: {{data.property.propertyName}} </p>
  <p>Description: {{data.property.propertyDescription}}</p>
  <p>Number of rooms: {{data.property.propertySize}}</p>
  <p>City: {{data.property.propertyCity}}</p>
  <p>Address: {{data.property.propertyAddress}}</p>
  <p>Location: {{data.property.propertyLocation}}</p>
  <p>Type: {{data.property.propertyType}}</p>
  <p>Price: {{data.property.propertyPrice}}</p>
  <p>Image: {{data.property.propertyImage}}</p>


  <div class="d-flex justify-content-between">
    <button mat-raised-button (click)="close()">Go Back</button>
    <button mat-raised-button color="primary" (click)="confirm()">Confirm</button>
  </div>
</div>

