<div *ngFor="let property of page.content" class="mb-3">
  <property-app [property]="property"
                (bookmarkedEvent)="bookmarkSnackbar($event)"
                (mouseenter)="hoveredChild(property.id)"
                (mouseleave)="hoveredChild(property.id, false)"
                (click)="visitDetails(property.id, $event)">
  </property-app>

</div>

<div class="d-flex justify-content-center pagination-container">
  <mat-paginator [length]="page.totalElements"
                 [pageSize]="page.pageSize"
                 (page)="onPageNumberChange($event)"
                 aria-label="Select page" class="pagination">
  </mat-paginator>
</div>
