.optional-icon{
  position: absolute;
  cursor: pointer;
  top: 7%;
  right: 3%;
}

/*.horizontal-card{*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  transition: box-shadow 0.3s ease;*/
/*  cursor: pointer;*/
/*}*/

/*.card-avatar{*/
/*  width: 200px;*/
/*  height: 200px;*/
/*  background-color: #ccc;*/
/*  margin-right: 16px;*/
/*  transition: transform 0.3s ease;*/
/*}*/

/*.to-bold{*/
/*  font-weight: bold;*/
/*}*/

/*.price{*/
/*  font-size: 1.5rem;*/
/*  color: forestgreen;*/
/*  font-weight: bold;*/
/*}*/


/*.card-content {*/
/*  flex: 1;*/
/*}*/

/*.footer{*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*}*/

/*.horizontal-card:hover{*/
/*  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);*/
/*}*/
/*.horizontal-card:hover .card-avatar {*/
/*  transform: scale(1.05); !* Enlarge avatar on hover *!*/
/*}*/
