<mat-card class="horizontal-card">
  <img mat-card-image src='http://localhost:9090/api/images/{{property.id}}/{{property.propertyImage}}' alt="Property Image" class="card-avatar">
  <div class="card-content">
    <mat-card-header>
      <mat-card-title>{{ property.propertyName }}</mat-card-title>
      <mat-card-subtitle> {{ property.propertyType }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ property.propertyCity }}, {{ property.propertyAddress }} </p>
      <div>
        <span class="to-bold"> 8.8 - Excellent </span>
        <span>(342 reviews)</span>
      </div>

      <div class="footer">
        <div>
          <span class="price">{{ property.propertyPrice }} МКД</span>
        </div>
        <div class="card-actions">
          <ng-container *ngIf="isUserAuthenticated(); else notAuthenticated">
            <ng-container *ngIf="property.bookmarked; else notBookmarked">
              <button mat-icon-button (click)="removeBookmark()">
                <mat-icon>bookmark</mat-icon>
              </button>
            </ng-container>

            <ng-template #notBookmarked>
              <button mat-icon-button (click)="addBookmark()">
                <mat-icon>bookmark_outline</mat-icon>
              </button>
            </ng-template>
          </ng-container>

          <ng-template #notAuthenticated>
            <button mat-icon-button routerLink="/login">
              <mat-icon>bookmark_outline</mat-icon>
            </button>
          </ng-template>
        </div>
      </div>
    </mat-card-content>
  </div>
</mat-card>
