<div class="body container">
  <div class="wrapper">
    <h3>Account Settings</h3>
    <hr>

    <div class="part">
      <div>
        <h4>Email Address</h4>
        <p> {{userDetails.username}} </p>
      </div>
      <div>
        <button class="change-btn">Change</button>
      </div>
    </div>

    <div class="part">
      <div>
        <h4>First name</h4>
        <p> {{userDetails.username}} </p>
      </div>
      <div>
        <button class="change-btn">Change</button>
      </div>
    </div>

    <div class="part">
      <div>
        <h4>Last name</h4>
        <p> {{userDetails.username}} </p>
      </div>
      <div>
        <button class="change-btn">Change</button>
      </div>
    </div>

    <div class="part">
      <div>
        <h4>Phone number</h4>
        <p> {{userDetails.username}} </p>
      </div>
      <div>
        <button class="change-btn">Change</button>
      </div>
    </div>


    <div class="part">
      <div>
        <h4>Change password</h4>
        <p> {{userDetails.username}} </p>
      </div>
      <div>
        <button class="change-btn">Change</button>
      </div>
    </div>


  </div>
</div>
