.map{
  height: calc(100vh - 15px);
}

.map-enlarged{
  height: calc(100vh - 90%);
}

.map-icon{
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 1000;
  cursor: pointer;
  transform: scale(1.2);
}

/*@media (max-width: 768px) {*/
/* .map-icon{*/
/*   display: none;*/
/* }*/
/*}*/
