<ng-container *ngIf="!enlarged; else showEnlarged ">
  <div id="map" #map class="map"></div>
</ng-container>

<ng-template #showEnlarged>
  <div id="map" #map class="map-enlarged"></div>
</ng-template>

<ng-container *ngIf="!enlarged; else showCollapseIcon">
  <mat-icon (click)="enlargeMap()">
  <span matIcon class="map-icon">
    open_in_full
  </span>
  </mat-icon>
</ng-container>

<ng-template #showCollapseIcon>
  <mat-icon (click)="collapseMap()">
  <span class="map-icon">
    close_fullscreen
  </span>
  </mat-icon>
</ng-template>

