#map{
  height: calc(100vh - 15px);
}

.map-icon{
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 1000;
  cursor: pointer;
  transform: scale(1.2);
}

@media (max-width: 768px) {
 .map-icon{
   display: none;
 }
}
