<div class="wrapper">
  <div *ngIf="page.content.length > 0; else showMessage" class="properties-container">
    <button mat-raised-button routerLink="/post" class="mb-4">Post new property</button>

    <div *ngFor="let property of page.content" class="mb-3">
      <property-user-app [property]="property"
                         (deletePropertyEvent)="deleteProperty($event)"
                          (click)="visitUpdate(property.id)"></property-user-app>
    </div>
  </div>
  <ng-template #showMessage>
    <div class="flex flex-column">
      <p class="display-6">
        Ready to List Your Properties?
      </p>
      <div class="mt-5 d-flex justify-content-center">
        <button mat-raised-button routerLink="/post">Post Property</button>
      </div>
    </div>
  </ng-template>

</div>
