<div class="search-menu-wrapper">
  <div class="search-bar-container">
  <mat-form-field  subscriptSizing="dynamic">
    <mat-label>Destination</mat-label>
    <input type="text" matInput placeholder="Where to go?">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>


  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="startDatepicker" placeholder="Start date" [(ngModel)]="startDate">
    <mat-datepicker-toggle matIconSuffix [for]="startDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-form-field" subscriptSizing="dynamic">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="endDatepicker" placeholder="End date">
    <mat-datepicker-toggle matIconSuffix [for]="endDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>


  <button class="btn btn-primary search-btn" (click)="submit()"><span>Search</span></button>
  </div>
</div>

<div class="content-wrapper">
<div class="content row">
  <div class="properties-container col-7">
    <display-properties-app [page]="page" (pageEvent)="appendPageNumberParam($event)"></display-properties-app>
  </div>

    <div class="map-container col-5">
      <properties-map-app></properties-map-app>
    </div>
</div>
</div>

