<!--<div class="wrapper">-->
<!--&lt;!&ndash;    <mat-icon (click)="goBack()" class="back-icon">arrow_back_ios</mat-icon>&ndash;&gt;-->

<!--  <h3>Update property</h3>-->
<!--  <p>{{ property.propertyName }}</p>-->


<!--  <mat-vertical-stepper [linear]="false" #stepper [animationDuration]="'2000'" class="wizard">-->
<!--    <mat-step [stepControl]="firstFormGroup">-->
<!--      <form [formGroup]="firstFormGroup" class="step-form">-->
<!--        <ng-template matStepLabel>Fill out information about your property</ng-template>-->
<!--        <div class="mat-form-group d-flex flex-column mt-3">-->
<!--          <mat-form-field>-->
<!--            <input matInput placeholder="Property name" formControlName="propertyName" required>-->
<!--          </mat-form-field>-->
<!--          <mat-form-field>-->
<!--            <textarea  matInput placeholder="Describe your property"  formControlName="propertyDescription" required></textarea>-->
<!--          </mat-form-field>-->
<!--          <mat-form-field>-->
<!--            <input matInput placeholder="Number of rooms" formControlName="propertySize" required>-->
<!--          </mat-form-field>-->
<!--          <mat-form-field>-->
<!--            <input  matInput placeholder="Amount (Денари)"  formControlName="propertyPrice" required>-->
<!--            <mat-icon matSuffix=""><span>payments</span></mat-icon>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="mt-4">-->
<!--          <button mat-raised-button matStepperNext>Next</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </mat-step>-->
<!--    <mat-step [stepControl]="secondFormGroup" class="step">-->
<!--      <form [formGroup]="secondFormGroup" class="step-form">-->
<!--        <ng-template matStepLabel>Fill out your address and location</ng-template>-->
<!--        <div class="mat-form-group d-flex flex-column mt-3">-->
<!--          <mat-form-field>-->
<!--            <input matInput placeholder="City" formControlName="propertyCity" required>-->
<!--          </mat-form-field>-->
<!--          <mat-form-field>-->
<!--            <input matInput placeholder="Address" formControlName="propertyAddress" required>-->
<!--          </mat-form-field>-->
<!--          <div class="map">-->
<!--            <create-property-map-app (propertyLocationEmit)="onPropertyLocationChange($event)"></create-property-map-app>-->
<!--          </div>-->
<!--          <div class="inner-form-group d-flex">-->
<!--            <mat-form-field class="m-1">-->
<!--              <mat-label>Latitude</mat-label>-->
<!--              <input matInput placeholder="Latitude" formControlName="lat" required>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field class="m-1">-->
<!--              <mat-label>Longitude</mat-label>-->
<!--              <input matInput placeholder="Longitude" formControlName="lng" required>-->
<!--            </mat-form-field>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="mt-4">-->
<!--          <button mat-raised-button matStepperPrevious class="m-right">Back</button>-->
<!--          <button mat-raised-button matStepperNext>Next</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </mat-step>-->

<!--    <mat-step [stepControl]="thirdFormGroup" class="step">-->
<!--      <form [formGroup]="thirdFormGroup" class="step-form">-->
<!--        <ng-template matStepLabel>What type of property?</ng-template>-->

<!--        &lt;!&ndash;      <label id="example-radio-group-label">Pick your favorite season</label>&ndash;&gt;-->
<!--        <mat-radio-group-->
<!--          aria-labelledby="example-radio-group-label"-->
<!--          class="example-radio-group d-flex flex-column" formControlName="propertyType">-->
<!--          <mat-radio-button class="example-radio-button" *ngFor="let type of propertyTypes" [value]="type.value">-->
<!--            {{type.name}}-->
<!--          </mat-radio-button>-->
<!--        </mat-radio-group>-->

<!--        &lt;!&ndash;      <div>You selected: {{ thirdFormGroup!.get('propertyType')!.value }}</div>&ndash;&gt;-->

<!--        <div class="mt-4">-->
<!--          <button mat-raised-button matStepperPrevious class="m-right">Back</button>-->
<!--          <button mat-raised-button matStepperNext>Next</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </mat-step>-->
<!--  </mat-vertical-stepper>-->
<!--</div>-->
