.body{
  /*display: flex;*/
  /*justify-content: center;*/
}
.wrapper{

}

.carousel-container{

}

.carousel-img{
  width: 100%;
  height: 550px;
}

.album{
  height: 400px;
  overflow-y: auto;
}
.album-img{
  height: 220px;
  padding: 0.1em;
}

.upper-content{
  margin-left: 0.1em;
}
.middle-content{
  margin-left: 0.7em;
}

.album-img:hover{
  cursor: pointer;
}

.clickedImage{
  padding: 0.4em;
  border: 1px solid #007FFF;
  background-color: #007FFF;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.custom-day.usedRange{
  pointer-events: none;
  background-color: rgb(255,0,0);
  color:white;
}
