.navbar-container{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-around;
}

.navbar-icons{
 display: flex;
}

.navbar-icons div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.navbar-icons div:hover{
  background-color: lightgray;
}

.navbar-text{
  font-size: 15px;
  margin-left: 5px;
}

.navbar-title{
  cursor: pointer;
  color: blueviolet;
}

.menu{
  margin-top: -10px;
  padding-top: -10px;
}

.menu button{
  width: 100%; /* Expand the menu items to full width */
  text-align: left; /* Align the text to the left */
}

.menu-container{

}

@media (max-width: 768px) {
  .navbar-text{
    display: none;
  }
}
