<mat-toolbar color="basic" class="navbar-container">
  <span class="navbar-title">BookingSite</span>
  <div class="navbar-icons">
    <div>
      <mat-icon class="navbar-icon"><span>home</span></mat-icon>
      <span class="navbar-text">Home</span>
    </div>

    <div>
      <mat-icon class="navbar-icon" color="warn"><span>favorite</span></mat-icon>
      <span class="navbar-text">Favorites</span>
    </div>

    <div>
      <mat-icon class="navbar-icon"><span>post_add</span></mat-icon>
      <span class="navbar-text">Post property</span>
    </div>

    <div>
      <mat-icon class="navbar-icon"><span>account_circle</span></mat-icon>
      <span class="navbar-text">Log in</span>
    </div>
  </div>
<!--  <button mat-button routerLink="/">Home</button>-->
<!--  <button mat-button routerLink="/about">About</button>-->
<!--  <button mat-button routerLink="/contact">Contact</button>-->
</mat-toolbar>


