.body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container{
  max-width: 400px;
  padding: 2em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.example-full-width{
  width: 100%;
}

.app-name{
  cursor: pointer;
  font-family: 'Abril Fatface', cursive;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 5%;
  left: 5%;
}

.first-part{
  color: cornflowerblue;
}

.second-part{
  color: yellowgreen;
}

.submit-btn{
  background-color: #007FFF;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  border: 0;
  padding: .5em 1.5em .5em 1.5em;
  border-radius: 35px;
}

.submit-btn:hover{
  background-color: #0867c7;
}

.title{
  font-size: 1.5rem;
}
